$defaultPadding : 10px;
$mainBackGroundColor : #e5e1df;
$darkColor : #333;
$black : #000;
$whiteColor : #fff;
$mainColor : #683c1f;
$theinitium : #1fc8db;
$theinitium2 : #6aaab3;
$brown: #91857d;
$green: #00d605;
$malibu: #4db7ff;
$yellow: #fff92e;
$pink: #ff2ef1;
$red: #ff0013;
$blue: #0606ff;
$caribbean: #10e09b;
$brightRed: #f06c47;